<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
  <h2>Mission Statement</h2>
  DERI Digital Humanities and Journalism work group is a multidisciplinary effort aiming to bundle research and development activities around news and journalism, media, digital humanities and social sciences with social media and semantic web technologies, which are DERI’s core strengths. The groups collaborates media organisations and academic partners in the field to study, create, design, deploy, and assess tools and practices in Digital Humanities, media and journalism.
</p>
