<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Quiltro project is developed by hujo group under National University of Ireland, Galway DERI IDA Business Park, Lower Dangan, Galway, Ireland
  <a href="http://hujo.deri.ie/contact/">contact page</a>.
</p>
