<% provide(:title, 'Help') %>
<h1>Help</h1>
<h2>Queries</h2>
<p>
  There are a number of operators you can use to modify the behavior of query 
</p>
<ol class="searches">
  <table>
    <thead>
      <tr>
        <th>Example operation</th>
        <th>Matched tweets...</th>
      <tr>
    </thead>
    <tbody>
      <tr>
        <td>twitter search</td>
        <td>Math tweets which containing both "twitter" and "search". This is the default operator</td>
      </tr>
      <tr>
        <td>"happy hour"</td>
        <td>All tweets which containing the exact phrase "happy hour"</td>
      </tr>
      <tr>
        <td>love OR hate</td>
        <td>containing either "love" or "hate" (or both)</td>
      </tr>
      <tr>
        <td>beer -root</td>
        <td>containing "beer" but not "root"</td>
      </tr>
      <tr>
        <td>#haiku</td>
        <td>containing the hashtag "haiku"</td>
      </tr>
      <tr>
        <td>from:user</td>
        <td>sent from the user @user</td>
      </tr>
      <tr>
        <td>to:user</td>
        <td>sent to the user @user</td>
      </tr>
      <tr>
        <td>@user</td>
        <td>tweet mentioning @user</td>
      </tr>
    </tbody>
  </table>
</ol>
