<li id="<%= tweets_item.id %>">
  <span class="user"><%= tweets_item.user_name %></span>
  <span class="query"><%= tweets_item.text %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(tweets_item.created_at) %> ago.
  </span>
</li>
