<li>
  <span class="credential_name"><%= credential.name %></span>
  <span class="consumer">Consumer: <%= credential.consumer %></span>
  <span class="access">Access: <%= credential.access %></span>
  <% if current_user?(credential.user) %>
    <%= link_to "delete", credential, method: :delete,
                                  data: { confirm: "Are you sure?" },
                                  title: credential.name %>
  <% end %>
</li>
