<!-- Modal -->
<div id="modalAbout" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalAboutLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modalAboutLabel">About us</h3>
  </div>
  <div class="modal-body">
    <p>
      Quiltro allows you to collect tweets using a keyword or set of keywords. Once registered with an account you can create multiple searches, each of which will collect and save tweets for you directly from the twitter APIs. Quiltro is a valuable tool for anyone searching for tweets regarding specific topics on twitter and can be useful to collect samples for further analysis.
    </p>
    <p>
      DERI Digital Humanities and Journalism work group is a multidisciplinary effort aiming to bundle research and development activities around news and journalism, media, digital humanities and social sciences with social media and semantic web technologies, which are DERI’s core strengths. The groups collaborates media organisations and academic partners in the field to study, create, design, deploy, and assess tools and practices in Digital Humanities, media and journalism.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Ok</button>
  </div>
</div>
