<!-- Modal -->
<div id="modalAbout" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalAboutLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modalAboutLabel">About us</h3>
  </div>
  <div class="modal-body">
    <p>
      Create by Digital Humanities and Journalism working group at DERI in NUI Galway.
    </p>
    <p>
      Quiltro is a tool that allows you to collect tweets using a keyword or set of keywords. You can use Quiltro to keep a record of tweets about a certain subject or event or to build a dataset of tweets to use for analysis.
    </p>
    <p>
      To get started you must create a Twitter developer account which you can do <%= link_to "here", "https://dev.twitter.com/user/login" %>. Then register for a Quiltro account, enter your Twitter dev account details and you're ready to go! Once registered with an account you can create multiple searches, each of which will collect and save tweets for you directly from the twitter APIs.
    </p>
    <p>
      Quiltro is developed by the Digital Humanities and Journalism working group at DERI in NUI Galway. The  Digital Humanities and Journalism group is a multidisciplinary effort aiming to bundle research and development activities around news and journalism, media, digital humanities and social sciences with social media and semantic web technologies, which are DERI's core strengths. The groups collaborates media organisations and academic partners in the field to study, create, design, deploy, and assess tools and practices in Digital Humanities, media and journalism.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Ok</button>
  </div>
</div>
