<footer class="footer">
  <small>
    <%= link_to image_tag("HUJO-DERI-SFI-NUI_Galway.jpg"), "http://hujo.deri.ie" %>
  </small>
  <nav>
    <ul>
      <li><!-- Button to trigger modal -->
        <a href="#modalAbout" data-toggle="modal">About</a>
      </li>
      <li><%= link_to "Contact", "http://hujo.deri.ie/contact" %></li>
      <li><%= link_to "Hujo", "http://hujo.deri.ie" %></li>
    </ul>
  </nav>
</footer>
