<footer class="footer">
  <small>
    Developed by Pablo Torres using 
    <a href="http://rubyonrails.org/">Rails</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://hujo.deri.ie/">Hujo</a></li>
    </ul>
  </nav>
</footer>
